<launch>

  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find bioloid_typea_description)/typea.xacro'" />


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/empty.world"/>
    <arg name="paused" value="true"/>
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find bioloid_typea_description)/typea.urdf -urdf -model typea -z 0.23" />

  <include file="$(find ros_control_boilerplate)/bioloid_control/launch/bioloid_gazebo.launch"/>

  <node name="typea_walker" pkg="bioloid_motion" type="robot_motion_walk" output="screen"/>

</launch>
